*{
    box-sizing: border-box;
}
body{
    background-color:#c1dbda;
}
.header{
    text-align: center;
    margin-bottom: 25px;
    background-color:yellowgreen;
    padding: 10px;
}
span{
    font-size: 22px;
    opacity: 0.8;
    font-style: italic;
    float:right;
}
img{
    height: 11rem;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    background-color: #f7b3ce;
}
.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;     /* fallback */
    max-height: 65px;      /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    background-color: #ABD9FF;
    font-weight: 450;
    padding: 5px;
}
.card-title{
    background-color: #bf70bf;
    padding: 2px;
    text-align: center;
}